<article class="blog-card-article">
  <a href="{{ post.url | url }}" class="blog-card">
    <div class="blog-card-top">
      <time class="blog-card-date" datetime="{{ post.config.date.created }}">
        {{ post.config.date.created | date }}
      </time>
    </div>
    <h2 class="blog-card-title">{{ post.post.title }}</h2>
    {% if post.meta.description %}
      <p class="blog-card-description">{{ post.meta.description }}</p>
    {% endif %}
    {% if post.meta.tags %}
      <div class="blog-card-tags">
        {% for tag in post.meta.tags %}
          <span class="blog-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </a>
</article>
