/* Code blocks should always be LTR */
code, pre {
  direction: ltr;
  text-align: left;
}

/* Course catalog cards */
.md-typeset .grid.cards > ul > li {
  padding: 1em;
}

.md-typeset .grid.cards > ul > li > hr {
  margin: 0.5em 0;
}
